@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: Poppins, sans-serif;
  width: 80%;
  margin: 5% auto;
}

button,
input {
  font-family: Poppins, sans-serif;
}

h4 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container .scores {
  width: 50%;
}

.scores .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scores .scores-list {
  border: 2px solid #f4f4f4;
  list-style: none;
  padding-left: 0;
  border-radius: 4px;
}

.scores-list .score {
  padding: 8px 16px;
}

.score:nth-child(even) {
  background-color: #f4f4f4;
}

.container form {
  padding: 0 2%;
}

.container form input {
  width: 95%;
  height: 32px;
  padding: 4px 8px;
  margin: 8px 0;
  border: 0;
  border-radius: 2px;
  background-color: #f4f4f4;
}

button {
  background-color: #f4f4f4;
  border: 0;
  border-radius: 2px;
  padding: 4px 10px;
}

button:hover {
  cursor: pointer;
}

.pagination button {
  margin: 0 4px;
  padding: 4px 10px;
  background-color: #f4f4f4;
}

.container form button {
  float: right;
}

.feedback {
  width: 95%;
  padding: 8px;
  color: #ddd;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
}

.danger {
  background-color: red;
}

.success {
  background-color: green;
}

.pagination {
  display: flex;
  justify-content: center;
}
